backend:
  name: github
  repo: PabloFerreiraB/My-blog
  branch: master
  site_domain: pabloferreira.netlify.app

publish_mode: editorial_workflow
media_folder: static/assets/img
public_folder: /assets/img
slug:
  encoding: "ascii"
  clean_accents: true

collections:
  - name: posts
    label: posts
    folder: posts
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - {
          label: "Date",
          name: "date",
          widget: "datetime",
          format: "YYYY-MM-DD hh:mm:ss",
        }
      - { label: "image", name: "image", widget: "image" }
      - {
          label: "Category",
          name: "category",
          widget: "select",
          options:
            [
              "JavaScript",
              "Angular",
              "ReactJS",
              "VueJS",
              "CSS",
              "HTML",
              "GIT",
              "Dev",
            ],
        }
      - {
          label: "Background",
          name: "background",
          widget: "select",
          options:
            [
              { label: "JavaScript", value: "#EFD81D" },
              { label: "Angular", value: "#D6002F" },
              { label: "ReactJS", value: "#5ED3F3" },
              { label: "VueJS", value: "#3FB27F" },
              { label: "CSS", value: "#0264AB" },
              { label: "HTML", value: "#DD4B25" },
              { label: "GIT", value: "#E84E31" },
              { label: "Dev", value: "#617222" },
            ],
        }
      - { label: "Body", name: "body", widget: "markdown" }
